includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 6

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given. #'
