includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 6

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given.#'
