includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 6

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Property AshAllenDesign\\ConfigValidator\\Services\\ValidationRepository\:\:\$rules has unknown class Illuminate\\Contracts\\Validation\\ValidationRule as its type.#'
        - '#Property AshAllenDesign\\ConfigValidator\\Services\\Rule\:\:\$rules has unknown class Illuminate\\Contracts\\Validation\\ValidationRule as its type.#'
        - '#Parameter \$rules of method AshAllenDesign\\ConfigValidator\\Services\\Rule\:\:rules\(\) has invalid type Illuminate\\Contracts\\Validation\\ValidationRule.#'
        - '#Method AshAllenDesign\\ConfigValidator\\Services\\Rule\:\:getRules\(\) has invalid return type Illuminate\\Contracts\\Validation\\ValidationRule.#'
